/*universal*/
*{
    margin:0;
}

/*navication section start*/
nav{
    display: flex;
    justify-content:space-between;
    margin: 50px 200px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.navication{
    background-color: rgb(19, 155, 218);
}
.logos{
    margin: 10px 30px;
}
.logos:hover{
    color:rgb(167, 10, 101);
}
.logo-color{
    color: crimson;
}
.btn1{
    background-color: rgb(166, 36, 221);
    color:bisque;
    width:70px;
    height:30px;
    border:none;
    border-radius:20px;
}
.btn1:hover{
    background-color: rgba(212, 10, 10, 0.849);
}
.navication ul{
    overflow: auto;
}
.navication li{
    float: left;
    list-style: none;
    margin: 10px 15px;
}
.navication li a{
    text-decoration:none;
}
.navication li a:hover{
    color:rgb(255, 252, 252);
}

/*navication section start*/


/*banner section start*/

.img-logo1{
    width: 200px;
    height: 200px;
    border: solid 1px rgb(6, 230, 118);
    border-radius: 50%;
}
.banner{
    display: flex;
    margin:0px 200px;
    align-items: center;
    background-color: rgb(18, 143, 143);
    border-radius:0% 40% 30% 30%;
}
.banner:hover{
   background-color:rgb(180, 20, 68);
}
.All-doc{
    text-align:center;
}

.heder-title2{
    color:chartreuse;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.heder-title1{
    margin-top: 20px;
}
.description{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-transform: lowercase;
}
/*banner section end*/
